<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>875648590946-2krmq86bn9gqb9oh5vq9jf0f67baba6o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875648590946-2krmq86bn9gqb9oh5vq9jf0f67baba6o</string>
	<key>API_KEY</key>
	<string>AIzaSyB0UGFl3gi4WsaewicXTL7Y3jPY88kTXNU</string>
	<key>GCM_SENDER_ID</key>
	<string>875648590946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.n3hooda.iRide</string>
	<key>PROJECT_ID</key>
	<string>iride-da06e</string>
	<key>STORAGE_BUCKET</key>
	<string>iride-da06e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875648590946:ios:f55ab5d4ca2c76bd</string>
	<key>DATABASE_URL</key>
	<string>https://iride-da06e.firebaseio.com</string>
</dict>
</plist>